<div class="section">
    <div class="center">
        <img class="profilpic" src="assets/img/photodeprofil.png" alt="photo de profil" />
        <h1>
            Camille Antoine Fontaine -
            <span id="role">Developpeur Web</span>
        </h1>
        <ul id="nav-mobile" class="center hide-on-med-and-down">
            <li>
                <a ng-repeat="social in vm.icon" href="{{social.href}}" class="fa fa-{{social.logo}} fa-3x socialogo" target="_blank" aria-hidden="true"></a>
            </li>
        </ul>
        <a href="assets/img/CV.pdf" target="_blank" class="waves-effect waves-light btn">CV</a>

    </div>
</div>

<div class="section">
    <div class="slide row code binary">
        <div class="center">
            <h1>
                CODE
            </h1>
        </div>
        <div ng-repeat="skill in vm.logoCode" class="col center logo">
            <img class='responsiveImg' src="assets/img/logo/{{skill.logo}}.png">
        </div>
    </div>

    <div class="slide row paint">
        <div class="center">
            <h1>
                DESIGN
            </h1>
        </div>
        <div ng-repeat="skill in vm.logoDesign" class="col center logo">
            <img class='responsiveImg' src="assets/img/logo/{{skill.logo}}.png">
        </div>
    </div>

    <div class="slide row office">
        <div class="center">
            <h1>
                PROJET
            </h1>
        </div>
        <div ng-repeat="skill in vm.logoProject" class="col center logo">
            <img class='responsiveImg' src="assets/img/logo/{{skill.logo}}.png">
        </div>
    </div>
</div>

<div class="section">
    <div class="desktop slide row project">
        <div class="center">
          <h1>PROJET</h1>
            <div ng-repeat="card in vm.project" class="mobile center col s12 m4">
                <h2>{{card.title}}</h2><br>
                <a href='{{card.hrefImg}}' target="_blank"><img class='logoType' src="assets/img/project/{{card.photo}}"></a><br>
                <p>{{card.text}}</p><br>
                <a href="{{card.hrefLogo}}" class="fa fa-{{card.logo}} fa-3x socialogo" target="_blank" aria-hidden="true"></a>
                <a href="{{card.hreflink}}" class="fa fa-{{card.linkLogo}} fa-3x socialogo" target="_blank" aria-hidden="true"></a>
            </div>
        </div>
    </div>

    <div class="desktop slide row hackathon">
        <div class="center">
            <h1>
                HACKATHON
            </h1>
            <div ng-repeat="card in vm.Hackathon" class="mobile center col s12 m3">
                <h2>{{card.title}}</h2><br>
                <a href='{{card.hrefImg}}' target="_blank"><img class='logoType' src="assets/img/project/{{card.photo}}"></a><br>
                <p><i class="fa fa-{{card.trophy}} fa-3x yellow-text" aria-hidden="true"></i>{{card.text}}</p><br>
                <a href="{{card.hrefLogo}}" class="fa fa-{{card.logo}} fa-3x socialogo" target="_blank" aria-hidden="true"></a>
                <a href="{{card.hreflink}}" class="fa fa-{{card.linkLogo}} fa-3x socialogo" target="_blank" aria-hidden="true"></a>
            </div>
        </div>
    </div>

    <div class="desktop slide row playground">
        <div class="center">
            <h1>
                PROJET PERSONNEL
            </h1>
            <div ng-repeat="card in vm.fun" class="mobile center col s12 m3">
                <h2>{{card.title}}</h2><br>
                <a href='{{card.hrefImg}}' target="_blank"><img class='logoType' src="assets/img/project/{{card.photo}}"></a><br>
                <p>{{card.text}}</p><br>
                <a href="{{card.hrefLogo}}" class="fa fa-{{card.logo}} fa-3x socialogo" target="_blank" aria-hidden="true"></a>
                <a href="{{card.hreflink}}" class="fa fa-{{card.linkLogo}} fa-3x socialogo" target="_blank" aria-hidden="true"></a>
            </div>
        </div>
    </div>
</div>



<div class="section">

    <div class="center row">
        <h1>
        Contact
    </h1>
        <div class="col s12 m4" ng-repeat="social in vm.contact">
            <a href="{{social.href}}" class="fa fa-{{social.logo}} fa-5x" target="_blank" aria-hidden="true"></a><br>
            <h3>{{social.text}}</h3>
        </div>

    </div>
</div>





<!-- <div class="section" >
    <div class="container">
      <div class="center">
          <h1>
              Contact
          </h1>
      </div>
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Nom</label>
                </div>
                <div class="input-field col s6">
                    <input id="first_name" type="text" class="validate">
                    <label for="first_name">Prénom</label>
                </div>
            </div>
                <div class="input-field col s6">
                    <input id="email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
                <div class="input-field col s6">
                            <div class="input-field col s6">
                                <textarea id="textarea1" class="materialize-textarea"></textarea>
                                <label for="textarea1">Message</label>
                        </div>
                    </form>
                </div>
            <div class="center">
                <a class="waves-effect waves-light btn">Envoyer</a>
            </div>
        </form>
    </div>

</div> -->

  <script type="text/javascript">
    $(document).ready(function() {
        $('#fullpage').fullpage({
            navigation: true,
            slidesNavigation: true,
            // anchors: ['Home', 'Skills', 'Projet', 'Contact'],
        });
    });

    setTimeout(function () {
      $('.paint').css({ "background-image": "url('../assets/img/paint.gif')", "background-repeat": "no-repeat" })
    }, 1000);

// $("div:mobile").addClass("slide center");


(function($) {
    var $window = $(window),
        $html = $('.mobile');
        $htmle = $('.desktop');

    function resize() {
        if ($window.width() < 514) {
            return $html.addClass('slide');
        }

        $html.removeClass('slide,  ');
    }

    $window
        .resize(resize)
        .trigger('resize');
})(jQuery);


    $(function($) {
        var roles = [
            'UX designer',
            'Graphiste',
            'Chef de projet',
            'Vidéaste',
            'Photographe',
            'Couteau Suisse',
            'Developpeur Web'
        ];
        //used to determine which is the next roles to be displayed
        var counter = 0;
        var $role = $('#role')
        //repeat the passed function at the specified interval - it is in milliseconds
        setInterval(function() {
            //display the role and increment the counter to point to next role
            $role.text(roles[counter++]);
            //if it is the last role in the array point back to the first item

        }, 900)
    });
</script>
